/* Base customizes */
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}

.dark input {
  color-scheme: dark;
}

/* Form Label */
.form-label {
  @apply text-3xs font-medium;
  > .required {
    @apply text-error;
  }
}

/* Form Hint */
.form-hint {
  @apply text-3xs;
  @apply text-slate-500; /* light theme */
  @apply dark:text-slate-400; /* dark theme */
}

/* Form Error */
.form-error {
  @apply col-span-12 !mt-0 text-3xs text-error;
}

/* Base state */
.__default {
  @apply border text-2xs outline-none transition-colors duration-200;
  @apply border-gray-300 bg-white; /* light theme */
  @apply dark:border-dark-200 dark:bg-dark-800; /* dark theme */
}
.__focus {
  @apply ring;
  @apply border-gray-300 ring-gray-300 ring-opacity-50 ring-offset-0; /* light theme */
  @apply dark:border-dark-200 dark:ring-dark-100 dark:ring-opacity-30; /* dark theme */
}
.__read-only {
  @apply cursor-default opacity-60 focus:ring-0;
}
.__disabled {
  @apply cursor-not-allowed bg-gray-100 text-gray-400 opacity-60 dark:bg-dark-700;
  @apply bg-gray-100 text-gray-400; /* light theme */
  @apply dark:bg-dark-700 dark:text-gray-500; /* dark theme */
}
.__placeholder {
  @apply placeholder:text-2xs;
  @apply placeholder:text-gray-400; /* light theme */
  @apply dark:placeholder:text-gray-500; /* dark theme */
}
.__error {
  @apply border-error focus:ring-error focus:ring-opacity-20; /* light theme */
  @apply dark:border-error dark:focus:ring-error dark:focus:ring-opacity-40; /* dark theme */
}

/* Default field */
.form-input,
.form-textarea,
.form-select,
.form-multiselect,
.form-file-upload {
  @apply __default __placeholder min-h-10 rounded-md;
  @apply block w-full;

  &:focus {
    @apply __focus;
  }

  &[readonly] {
    @apply __read-only;
  }

  &:disabled {
    @apply __disabled;
  }

  /* Invalid field */
  .form-invalid &,
  &.form-invalid {
    @apply __error;
  }
}
.form-input,
.form-textarea,
.form-select,
.form-multiselect {
}

/* Textarea field */
.form-textarea {
  @apply min-h-[120px];
}

/* File upload */
.form-file-upload {
  @apply cursor-pointer overflow-hidden bg-clip-padding file:-m-3 file:cursor-pointer file:overflow-hidden
    file:rounded-none file:border-0 file:border-solid file:border-inherit file:p-3 file:transition
    file:[border-inline-end-width:1px] file:[margin-inline-end:0.75rem] file:disabled:cursor-not-allowed;
  @apply file:bg-slate-100; /* light theme */
  @apply dark:file:bg-primary dark:file:text-white; /* dark theme */

  &:not(:disabled) {
    @apply hover:file:bg-neutral-200; /* light theme */
    @apply dark:file:text-white dark:file:hover:bg-secondary; /* dark theme */
  }
}

/* Radio */
.form-checkbox,
.form-radio {
  @apply __default shrink-0 cursor-pointer text-primary checked:bg-primary hover:text-primary;

  &:focus {
    @apply __focus checked:bg-primary;
  }
  &:disabled {
    @apply __disabled checked:bg-primary;
  }

  /* Invalid field */
  .form-invalid &,
  &.form-invalid {
    @apply __error;
    @apply text-error checked:bg-error; /* light theme */
    @apply dark:text-error dark:checked:bg-error; /* dark theme */
  }
}

/* Checkbox */
.form-checkbox {
  @apply rounded;
}

/* Form Switcher */
.form-switcher {
  @apply relative flex cursor-pointer items-center;

  .form-switcher-toggler {
    @apply __default h-6 w-11 rounded-full;
    @apply after:absolute after:left-0.5 after:top-0.5 after:h-5 after:w-5 after:rounded-full after:border after:bg-white after:transition-all;
    @apply after:border-gray-300 peer-checked:bg-primary; /* light theme */
    @apply dark:after:border-dark-200 dark:peer-checked:bg-primary; /* dark theme */
  }

  .peer:checked + .form-switcher-toggler {
    @apply after:translate-x-full after:border-primary;
    @apply bg-primary after:border-gray-300; /* light theme */
    @apply dark:bg-primary dark:after:border-dark-200; /* dark theme */
  }

  .peer:not(:checked) + .form-switcher-toggler {
    @apply bg-slate-100; /* light theme */
    @apply dark:bg-dark-800; /* dark theme */
  }

  .peer:focus:not(:disabled) + .form-switcher-toggler {
    @apply __focus;
  }

  .peer:disabled + .form-switcher-toggler {
    @apply __disabled;
  }
  .peer:checked:disabled + .form-switcher-toggler {
    @apply bg-primary; /* light theme */
    @apply bg-primary; /* dark theme */
  }

  /* Invalid field */
  .form-invalid &,
  &:has(.form-invalid),
  &.form-invalid {
    .form-switcher-toggler {
      @apply __error;
    }

    .peer:focus ~ .form-switcher-toggler {
      @apply __error;
      @apply ring-error ring-opacity-20; /* light theme */
      @apply dark:ring-error dark:ring-opacity-40; /* dark theme */
    }

    .peer:not(:disabled) {
      &:checked ~ .form-switcher-toggler {
        @apply bg-error after:border-error; /* light theme */
        @apply after:border-error dark:bg-error; /* dark theme */
      }

      &:not(:checked) ~ .form-switcher-toggler {
        @apply after:bg-error; /* light theme */
        @apply dark:after:bg-error; /* dark theme */
      }
    }
  }
}

/* Expansion field */
.form-group.form-group-expansion {
  @apply flex-row items-stretch gap-0;

  .form-input {
    @apply shrink rounded-r-none;

    & ~ .expansion-wrapper {
      @apply border-l-0;
    }
  }

  .expansion-wrapper {
    @apply __default flex shrink-0 flex-row items-center overflow-hidden rounded-r-md;
    @apply bg-slate-100 text-slate-600; /* light theme */
    @apply dark:bg-dark-900/20 dark:text-slate-400; /* dark theme */

    .expansion {
      @apply flex h-full min-w-8 items-center justify-center px-2 text-2xs;
    }

    button {
      @apply hover:bg-gray-300 dark:hover:bg-dark-200;
    }
  }

  .form-input:read-only ~ .expansion-wrapper {
    @apply __read-only;
  }

  .form-input:not(:read-only):focus ~ .expansion-wrapper {
    @apply __focus;
  }

  .form-input:disabled ~ .expansion-wrapper {
    @apply __disabled;

    * {
      @apply pointer-events-none;
    }
  }

  .form-input.form-invalid ~ .expansion-wrapper {
    @apply __error;
  }

  .form-input.form-invalid:not(:read-only):focus ~ .expansion-wrapper {
    @apply __error;
    @apply ring-error ring-opacity-20; /* light theme */
    @apply dark:ring-error dark:ring-opacity-40; /* dark theme */
  }
}

/* Form Range */
.form-group-range {
  --gradient-start: rgb(var(--primary));
  --gradient-end: rgb(var(--primary));
  --track-size: 1.25rem;
  --track-from-color: rgb(var(--primary));
  --track-to-color: rgb(var(--primary));

  @apply gap-4;

  .form-group-range-wrapper {
    @apply relative w-full px-[var(--track-size)];

    input[type='range'].form-range {
      width: calc(100% - var(--track-size));
      @apply pointer-events-none absolute z-4 h-[var(--track-size)] appearance-none bg-transparent first-of-type:left-0 last-of-type:right-0;

      &::-webkit-slider-runnable-track {
        @apply bg-transparent;
      }

      &::-webkit-slider-thumb {
        @apply pointer-events-auto h-[var(--track-size)] w-[var(--track-size)] appearance-none rounded-full border-none;
      }
      &:first-of-type::-webkit-slider-thumb {
        @apply bg-[var(--track-from-color)];
      }
      &:not(first-of-type)::-webkit-slider-thumb {
        @apply bg-[var(--track-to-color)];
      }
      &:not([readonly], [disabled])::-webkit-slider-thumb {
        @apply cursor-pointer;
      }

      input[type='range']::-moz-range-track {
        @apply bg-transparent;
      }
      &::-moz-range-thumb {
        @apply pointer-events-auto h-[var(--track-size)] w-[var(--track-size)] appearance-none rounded-full border-none;
      }
      &:first-of-type::-moz-range-thumb {
        @apply bg-[var(--track-from-color)];
      }
      &:not(first-of-type)::-moz-range-thumb {
        @apply bg-[var(--track-to-color)];
      }
      &:not([readonly], [disabled])::-moz-range-thumb {
        @apply cursor-pointer;
      }

      &::-ms-thumb {
        @apply pointer-events-auto h-[var(--track-size)] w-[var(--track-size)] appearance-none rounded-full border-none;
      }
      &:first-of-type::-ms-thumb {
        @apply bg-[var(--track-from-color)];
      }
      &:not(first-of-type)::-ms-thumb {
        @apply bg-[var(--track-to-color)];
      }
      &:not([readonly], [disabled])::-ms-thumb {
        @apply cursor-pointer;
      }

      &:disabled {
        @apply __read-only cursor-not-allowed bg-transparent;

        & + .form-range-slider {
          @apply __read-only;
        }
      }

      &[readonly] {
        @apply __read-only cursor-default;

        & + .form-range-slider {
          @apply __read-only;
        }
      }

      &.form-invalid:first-of-type {
        --track-from-color: rgb(var(--error));

        & ~ .form-range-slider > .form-range-connect {
          --gradient-start: rgb(var(--error));
        }
      }
      &.form-invalid:not(:first-of-type) {
        --track-to-color: rgb(var(--error));

        & ~ .form-range-slider > .form-range-connect {
          --gradient-end: rgb(var(--error));
        }
      }
    }

    .form-range-slider {
      @apply relative z-0 h-[var(--track-size)];

      .form-range-tracker {
        @apply absolute left-0 right-0 top-1/2 z-3 -mx-[var(--track-size)] h-2 -translate-y-1/2 transform rounded-md;
        @apply bg-slate-100; /* light theme */
        @apply dark:bg-dark-800; /* dark theme */
      }

      .form-range-connect {
        @apply absolute top-1/2 z-4 -mx-px h-2 -translate-y-1/2 transform;
        background: linear-gradient(to right, var(--gradient-start), var(--gradient-end));
      }
    }
  }

  .form-group-range-fields {
    @apply mt-4 flex w-full items-center justify-between gap-4;

    & > .form-input {
      @apply max-w-44;

      &:last-child {
        @apply text-right;
      }
    }
  }
}

/* Checkbox */
.form-color {
  @apply relative;

  .form-color-thumb {
    @apply absolute left-1 top-1/2 h-8 w-8 -translate-y-1/2 overflow-hidden rounded-md;

    input[type='color'] {
      @apply absolute -left-2 -top-2 m-0 h-16 w-16 cursor-pointer p-0;
    }
  }

  input {
    @apply pl-10;
  }
}

/* Form Group */
.form-group {
  @apply flex w-full flex-col gap-2;

  &.form-group-inline {
    @apply flex-row items-center justify-items-center;

    & > label + div {
      @apply w-full lg:w-0 lg:grow;
    }

    & > label:first-child:not(.form-switcher) {
      @apply lg:w-1/5;
    }
  }
}

/* Choices (Single/Multiple Select) */
.choices {
  @apply __default w-full rounded-md;

  &.is-focused {
    @apply __focus;
  }

  &.is-disabled {
    @apply __disabled;

    .choices__inner {
      @apply bg-transparent;
    }

    .choices__button {
      @apply hidden;
    }
  }

  .form-invalid &,
  &:has(.form-invalid) {
    @apply __error;
  }

  &[data-type*='select-one'] {
    &:not(.is-open) {
      @apply after:border-t-gray-300; /* light theme */
      @apply dark:after:border-t-dark-200; /* dark theme */
    }

    &.is-open {
      @apply after:border-b-gray-300; /* light theme */
      @apply dark:after:border-b-dark-200; /* dark theme */
    }
  }

  &.is-open {
    @apply rounded-b-none;
  }

  .choices__input {
    @apply __placeholder m-0 bg-transparent p-0;
    box-shadow: none;
  }

  .choices__inner {
    @apply min-h-0 border-none bg-transparent text-2xs;
    padding: 0.5rem 0.75rem;

    .choices__list--single {
      @apply p-0;
    }
  }

  .choices__list--dropdown,
  .choices__list[aria-expanded] {
    @apply __default z-10 rounded-b-md;

    .choices__input {
      @apply __default __placeholder;
    }

    .choices__item.is-highlighted {
      @apply bg-slate-100 text-slate-600; /* light theme */
      @apply dark:bg-dark-900/20 dark:text-slate-400; /* dark theme */
    }
  }

  .choices__list--single {
    .choices__button {
      @apply dark:invert;
    }
  }

  .choices__list--multiple .choices__item {
    @apply border-0 py-0 text-3xs;
  }

  .choices__list--multiple {
    .choices__item {
      @apply my-0.5 rounded-md border-primary bg-primary px-1 py-0;

      .choices__button {
        @apply m-0 border-l-white/50;
      }
    }
  }

  .choices__heading {
    @apply border-gray-300 text-gray-400; /* light theme */
    @apply dark:border-dark-200 dark:text-gray-500; /* dark theme */
  }

  /* Show browser errors */
  [hidden] {
    @apply absolute left-0 top-0 z-0 !m-0 !block h-full w-full !p-0 opacity-0;
  }
}

/* Json */
.inner-json-object-mode {
  .inner-json-object-mode {
    @apply relative pl-6;

    &:before {
      content: '';
      @apply absolute left-0 top-2.5 h-px w-4;
      @apply bg-gray-300; /* light theme */
      @apply dark:bg-dark-200; /* dark theme */
    }
  }
}

fieldset {
  @apply relative w-full min-w-0 rounded-lg border border-gray-200 p-3 dark:border-dark-200 sm:p-4;

  legend {
    @apply absolute left-3 top-0 -ms-1 -translate-y-1/2 px-1 text-2xs sm:left-4;

    &:before {
      content: '';
      @apply absolute inset-0 -z-1 h-full w-full bg-[inherit] backdrop-blur-sm;
    }
  }
}
