/* Base customizes */
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}

.dark input {
  color-scheme: dark;
}

/* Form Label */
.form-label {
  @apply text-3xs font-medium;
  > .required {
    @apply text-error;
  }
}

/* Form Hint */
.form-hint {
  @apply text-3xs;
  @apply text-slate-500; /* light theme */
  @apply dark:text-slate-400; /* dark theme */
}

/* Form Error */
.form-error {
  @apply col-span-12 text-3xs text-error;
}

/* Base state */
.__default {
  @apply text-2xs border outline-none transition-colors duration-200;
  @apply border-gray-300 bg-white; /* light theme */
  @apply dark:border-dark-300 dark:bg-dark-800; /* dark theme */
}
.__focus {
  @apply ring;
  @apply ring-offset-0 border-gray-300 ring-gray-200 ring-opacity-70; /* light theme */
  @apply dark:border-dark-300 dark:ring-dark-100 dark:ring-opacity-30; /* dark theme */
}
.__read-only {
  @apply cursor-default opacity-60 focus:ring-0;
}
.__disabled {
  @apply cursor-not-allowed opacity-60 bg-gray-100 text-gray-400 dark:bg-dark-700;
  @apply bg-gray-100 text-gray-400; /* light theme */
  @apply dark:bg-dark-700 dark:text-gray-500; /* dark theme */
}
.__placeholder {
  @apply placeholder:text-2xs;
  @apply placeholder:text-gray-400; /* light theme */
  @apply dark:placeholder:text-gray-500; /* dark theme */
}
.__error {
  @apply border-error focus:ring-error focus:ring-opacity-20; /* light theme */
  @apply dark:border-error dark:focus:ring-error dark:focus:ring-opacity-40; /* dark theme */
}

/* Default field */
.form-input,
.form-textarea,
.form-select,
.form-multiselect,
.form-file-upload {
  @apply __default __placeholder rounded-md min-h-10;
  @apply block w-full;

  &:focus {
    @apply __focus;
  }

  &[readonly] {
    @apply __read-only;
  }

  &:disabled {
    @apply __disabled;
  }

  /* Invalid field */
  .form-invalid &,
  &.form-invalid {
    @apply __error;
  }
}
.form-input,
.form-textarea,
.form-select,
.form-multiselect {

}


/* Textarea field */
.form-textarea {
  @apply min-h-[120px];
}

/* File upload */
.form-file-upload {
  @apply cursor-pointer overflow-hidden bg-clip-padding file:-m-3 file:cursor-pointer file:overflow-hidden
    file:rounded-none file:border-0 file:border-solid file:border-inherit file:p-3 file:transition
    file:[border-inline-end-width:1px] file:[margin-inline-end:0.75rem] file:disabled:cursor-not-allowed;
  @apply file:bg-slate-100; /* light theme */
  @apply dark:file:bg-primary dark:file:text-white; /* dark theme */

  &:not(:disabled) {
    @apply hover:file:bg-neutral-200; /* light theme */
    @apply dark:file:text-white dark:file:hover:bg-secondary; /* dark theme */
  }
}

/* Radio */
.form-checkbox,
.form-radio {
  @apply __default shrink-0 cursor-pointer checked:bg-primary text-primary hover:text-primary;

  &:focus {
    @apply __focus checked:bg-primary;
  }
  &:disabled {
    @apply __disabled checked:bg-primary;
  }

  /* Invalid field */
  .form-invalid &,
  &.form-invalid {
    @apply __error;
    @apply checked:bg-error text-error; /* light theme */
    @apply dark:checked:bg-error dark:text-error; /* dark theme */
  }
}

/* Checkbox */
.form-checkbox {
  @apply rounded;
}

/* Form Switcher */
.form-switcher {
  @apply relative flex cursor-pointer items-center;

  &-toggler {
    @apply __default h-6 w-11 rounded-full;
    @apply after:absolute after:left-0.5 after:top-0.5 after:h-5 after:w-5 after:rounded-full after:bg-white after:border peer-checked:after:border-primary after:transition-all peer-checked:after:translate-x-full;
    @apply peer-checked:bg-primary after:border-gray-300; /* light theme */
    @apply dark:peer-checked:bg-primary dark:after:border-dark-300; /* dark theme */

    .peer:not(:checked) ~ & {
      @apply bg-slate-100; /* light theme */
      @apply dark:bg-dark-800; /* dark theme */
    }

    .peer:focus:not(:disabled) ~ & {
      @apply __focus;
    }

    .peer:disabled ~ & {
      @apply __disabled;
    }
    .peer:checked:disabled ~ & {
       @apply bg-primary; /* light theme */
       @apply bg-primary; /* dark theme */
     }
  }

  /* Invalid field */
  .form-invalid &,
  &:has(.form-invalid),
  &.form-invalid {
    .form-switcher-toggler {
      @apply __error;
    }

    .peer:focus~.form-switcher-toggler {
      @apply __error;
      @apply ring-error ring-opacity-20 ; /* light theme */
      @apply dark:ring-error dark:ring-opacity-40; /* dark theme */
    }

    .peer:not(:disabled) {
      &:checked~.form-switcher-toggler {
        @apply bg-error after:border-error; /* light theme */
        @apply dark:bg-error after:border-error; /* dark theme */
      }

      &:not(:checked)~.form-switcher-toggler {
        @apply after:bg-error; /* light theme */
        @apply dark:after:bg-error; /* dark theme */
      }
    }
  }
}

/* Expansion field */
.form-group.form-group-expansion {
  @apply flex-row items-stretch gap-0;

  .form-input {
    @apply rounded-r-none shrink;

    & ~ .expansion-wrapper {
      @apply border-l-0;
    }
  }

  .expansion-wrapper {
    @apply __default shrink-0 rounded-r-md overflow-hidden flex flex-row items-center;
    @apply text-slate-600 bg-slate-100; /* light theme */
    @apply dark:text-slate-400 dark:bg-dark-900/20; /* dark theme */

    .expansion {
      @apply h-full px-2 min-w-8 text-2xs flex justify-center items-center ;
    }

    button {
      @apply hover:bg-gray-300 dark:hover:bg-dark-300;
    }
  }

  .form-input:read-only ~ .expansion-wrapper {
    @apply __read-only;
  }

  .form-input:not(:read-only):focus ~ .expansion-wrapper {
    @apply __focus;
  }

  .form-input:disabled ~ .expansion-wrapper {
    @apply __disabled;

    * {
      @apply pointer-events-none;
    }
  }

  .form-input.form-invalid ~ .expansion-wrapper {
    @apply __error;
  }

  .form-input.form-invalid:not(:read-only):focus ~ .expansion-wrapper {
    @apply __error;
    @apply ring-error ring-opacity-20; /* light theme */
    @apply dark:ring-error dark:ring-opacity-40; /* dark theme */
  }
}

/* Form Range */
.form-group-range {
  --gradient-start: rgb(var(--primary));
  --gradient-end: rgb(var(--primary));
  @apply gap-4;

  &-wrapper {
    @apply relative w-full;

    .form-range {
      @apply absolute z-4 top-1 h-0 w-full appearance-none  pointer-events-none opacity-0 cursor-pointer;

      &::-webkit-slider-thumb {
        @apply h-5 w-5 appearance-none pointer-events-auto;
      }

      &::-moz-range-thumb {
        @apply h-5 w-5 appearance-none pointer-events-auto;
      }

      &::-ms-thumb {
        @apply h-5 w-5 appearance-none pointer-events-auto;
      }

      &:disabled {
        @apply cursor-not-allowed;

        & + .form-range-slider {
          @apply __disabled;
        }
      }

      &[readonly] {
        @apply cursor-default;

        & + .form-range-slider {
          @apply __read-only;
        }
      }

      &.form-invalid:first-child {
        & ~ .form-range-slider > .form-range-connect {
          --gradient-start: rgb(var(--error));
        }

        & ~ .form-range-slider > .form-range-thumb-left {
          @apply bg-error; /* light theme */
          @apply dark:bg-error; /* dark theme */
        }
      }
      &:not(:first-of-type).form-invalid {
        & ~ .form-range-slider > .form-range-connect {
          --gradient-end: rgb(var(--error));
        }

        & ~ .form-range-slider > .form-range-thumb-right {
          @apply bg-error; /* light theme */
          @apply dark:bg-error; /* dark theme */
        }
      }

      &:not(:first-of-type) {
        @apply pointer-events-none;

        @supports (-moz-appearance: none) {
          @apply pointer-events-auto;
        }
      }

      &-slider {
        @apply relative z-0 my-1.5 h-2 mx-4;
      }

      &-tracker {
        @apply absolute bottom-0 -left-4 -right-4 top-0 z-3 rounded-md;
        @apply bg-slate-100; /* light theme */
        @apply dark:bg-dark-800; /* dark theme */
      }

      &-connect {
        @apply absolute bottom-0 top-0 z-4 rounded-md;
        background: linear-gradient(to right, var(--gradient-start), var(--gradient-end));
      }

      &-thumb {
        @apply absolute top-0 z-5 -mt-1.5 h-5 w-5 rounded-full bg-primary;

        &-left {
          @apply left-5 -ml-4;
        }

        &-right {
          @apply right-5 -mr-4;
        }
      }
    }
  }

  &-fields {
    @apply mt-4 flex w-full items-center justify-between gap-4;

    & > .form-input {
      @apply max-w-44;

      &:last-child {
        @apply text-right;
      }
    }
  }
}

/* Form Group */
.form-group {
  @apply flex w-full flex-col gap-2;

  &-inline {
    @apply flex-row items-center justify-items-center;

    & > label + div {
      @apply w-full lg:w-0 lg:grow;
    }

    & > label:first-child:not(.form-switcher) {
      @apply lg:w-1/5;
    }
  }
}

/* Choices (Single/Multiple Select) */
.choices {
  @apply __default rounded-md;

  &.is-focused {
    @apply __focus;
  }

  &.is-disabled {
    @apply __disabled;

    .choices__inner {
      @apply bg-transparent;
    }

    .choices__button {
      @apply hidden;
    }
  }

  .form-invalid &,
  &:has(.form-invalid) {
    @apply __error
  }

  &.is-open {
    @apply rounded-b-none;
  }

  .choices__input {
    @apply __placeholder m-0 p-0 bg-transparent;
    box-shadow: none;
  }

  .choices__inner {
    @apply min-h-0 text-2xs border-none bg-transparent;
    padding: .5rem .75rem;

    .choices__list--single {
      @apply p-0;
    }
  }

  .choices__list--dropdown,
  .choices__list[aria-expanded] {
    @apply __default rounded-b-md z-10;

    .choices__input {
      @apply __default __placeholder;
    }

    .choices__item.is-highlighted {
      @apply text-slate-600 bg-slate-100; /* light theme */
      @apply dark:text-slate-400 dark:bg-dark-900/20; /* dark theme */
    }
  }

  .choices__list--single {
    .choices__button {
      @apply dark:invert;
    }
  }

  .choices__list--multiple .choices__item {
    @apply border-0 py-0 text-3xs;
  }

  .choices__list--multiple {
    .choices__item {
      @apply rounded-md border-primary bg-primary px-1 py-0 my-0.5;

      .choices__button {
        @apply border-l-white/50 m-0;
      }
    }
  }

  .choices__heading {
    @apply border-gray-300 text-gray-400; /* light theme */
    @apply dark:border-dark-300 dark:text-gray-500; /* dark theme */
  }

  /* Show browser errors */
  [hidden] {
    @apply absolute left-0 top-0 z-0 !m-0 !block h-full w-full !p-0 opacity-0;
  }
}

/* Dropzone */
.dropzone {
  @apply relative w-full rounded-lg border-2 border-dashed p-3;
  @apply border-gray-300; /* light theme */
  @apply dark:border-dark-300; /* dark theme */

  &-items {
    @apply flex flex-wrap gap-2;
  }

  &-item {
    @apply relative h-12 w-12 md:h-16 md:w-16 overflow-hidden rounded-md;

    &-file {
      @apply __default;
      @apply flex h-auto w-full items-center gap-2 p-2;

      .dropzone-remove {
        @apply static;
      }

      a {
        @apply inline;
      }
    }

    & > img {
      @apply h-full w-full object-cover;
    }
  }

  &-file-icon {
    @apply text-primary; /* light theme */
    @apply dark:text-secondary; /* dark theme */

    & > svg {
      @apply h-5 w-5;
    }
  }

  &-file-name {
    @apply grow truncate text-2xs;
  }

  &-remove {
    @apply absolute right-1 top-1 z-5 flex shrink-0 items-center justify-center rounded-full border border-error bg-error leading-none text-white hover:bg-white hover:text-error;

    & > svg {
      @apply h-3 w-3;
    }
  }
}
